body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  overflow-x: hidden;
  font-family: 'Bruno Ace SC', cursive !important;
  font-family: 'Montserrat', sans-serif !important;
}

.CardZoner{
  font-family: 'Bruno Ace SC', cursive !important;
}
body::-webkit-scrollbar {
  width: 15px;
}
body {
  --scrollbarBG: #CFD8DC;
  --thumbBG: #90A4AE;
  scrollbar-width: thin;
  scrollbar-color: var(--thumbBG) var(--scrollbarBG);
}
body::-webkit-scrollbar-track {
  background: var(--scrollbarBG);
}
body::-webkit-scrollbar-thumb {
  background-color: var(--thumbBG) ;
  border-radius: 6px;
  border: 3px solid var(--scrollbarBG);
}


code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
  font-family: 'Roboto Condensed', sans-serif;
}



.card .InnerCard img{
  border-radius: 15%;
  margin-bottom: 1rem;
}

.card .InnerCard {
  z-index: 1 !important;
  color: white;
  font-size: 0.8em;
}

.card .InnerCard h6 {
  color: white;
}

.card::before {
  content: '';
  position: absolute;
  width: 100px;
  background-image: linear-gradient(180deg, rgb(0, 183, 255), rgb(255, 48, 255));
  height: 130%;
  animation: rotBGimg 3s linear infinite;
  transition: all 0.2s linear;
}

@keyframes rotBGimg {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}

.card::after {
  content: '';
  position: absolute;
  background: #07182E;
  ;
  inset: 5px;
  border-radius: 15px;
}  
.card:hover:before {
  background-image: linear-gradient(180deg, rgb(81, 255, 0), #1ed760);
  animation: rotBGimg 3.5s linear infinite;
}

.loader {
  display: block;
  --height-of-loader: 2px;
  --loader-color: #0071e2;
  width: 100vw;
  height: var(--height-of-loader);
  border-radius: 30px;
  background-color: rgba(0,0,0,0.2);
  position: relative;
}

.loader::before {
  content: "";
  position: absolute;
  background: var(--loader-color);
  top: 0;
  left: 0;
  width: 0%;
  height: 100%;
  border-radius: 30px;
  animation: moving 1s ease-in-out infinite;
  ;
}

@keyframes moving {
  50% {
    width: 100%;
  }

  100% {
    width: 0;
    right: 0;
    left: unset;
  }
}

.DisplayHome{
  display: flex;
  overflow: auto;
  scroll-snap-type: mandatory;
  scrollbar-width: 1px !important;
}
.DisplayHome::-webkit-scrollbar {
  display: none;
}

.cardTitle{
  display: -webkit-box;
-webkit-line-clamp: 1;
-webkit-box-orient: vertical;
overflow: hidden;
font-weight: 10rem ;

}

.cardDescription{
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  overflow:hidden
}
.card {
  width: 200px;
  height: 350px !important;
  background: #07182E;
  position: relative;
  display: flex;
  place-content: center;
  place-items: center;
  overflow: hidden;
  border-radius: 20px;
  flex-shrink: 0;
  scroll-snap-align: start;
}

.DisplayHome2{
  display: flex;
  justify-content: space-between;
  align-items: self-start;
  flex-direction: row;
  flex-wrap: wrap;
}
.card2 {
  width: 200px;
  height: 350px !important;
  background: #07182E;
  position: relative;
  display: flex;
  place-content: center;
  place-items: center;
  overflow: hidden;
  border-radius: 20px;
  margin: 20px;
}

.card2 .InnerCard img{
  z-index: 1 !important;
  color: white;
  font-size: 2em;
  border-radius: 15%;
  margin-bottom: 1rem;
}

.card2 .InnerCard {
  z-index: 1 !important;
  color: white;
  font-size: 0.8em;
}

.card2 .InnerCard h6 {
  z-index: 1 !important;
  color: white;
  font-size: 1.2em !important;
}

.card2::before {
  content: '';
  position: absolute;
  width: 100px;
  background-image: linear-gradient(180deg, rgb(0, 183, 255), rgb(255, 48, 255));
  height: 130%;
  animation: rotBGimg 3s linear infinite;
  transition: all 0.2s linear;
}

@keyframes rotBGimg {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}

.card2::after {
  content: '';
  position: absolute;
  background: #07182E;
  ;
  inset: 5px;
  border-radius: 15px;
}  
.card2:hover:before {
  background-image: linear-gradient(180deg, rgb(81, 255, 0), #1ed760);
  animation: rotBGimg 3.5s linear infinite;
}


.loader2 {
  display: block;
  --height-of-loader: 2px;
  --loader-color: #1db954;
  width: 100vw;
  height: var(--height-of-loader);
  border-radius: 30px;
  background-color: rgba(0,0,0,0.2);
  position: relative;
}

.loader2::before {
  content: "";
  position: absolute;
  background: var(--loader-color);
  top: 0;
  left: 0;
  width: 0%;
  height: 100%;
  border-radius: 30px;
  animation: moving 1s ease-in-out infinite;
  ;
}

.player-wrapper {  
flex: 6;

}

.player-wrapper2{
  flex:6;
}

.VideoPage{
  height: 90vh;
  align-items: center;
  flex-wrap: wrap;
  height: fit-content;
}
